<h1>Articles</h1><br>
<table>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, article.url) %></td>
    <td><%= article.votes.length %></td>
    <% if signed_in? %>
      <% if Vote.find_by_voteable_id_and_voteable_type_and_user_id(article.id, 'Article', current_user.id) %>
        <td>Upvoted</td>
      <% else %>
        <td><%= link_to('Upvote!', votes_path( :vote => {:voteable_id => article.id, :voteable_type => 'Article', :value => 1}), :method => :post) %></td>
      <% end %>
    <% end %>
    <td>| <%= link_to("#{article.comments.length} Comment(s)", article_path(article)) %></td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>