
<% if signed_in? && current_user.admin? %>
  <% if @user.banned? %>
    <p class="alert alert-error">User Banned!</p>
  <% else %>
    <p>Admin Actions: <%= link_to('BAN USER', banned_users_path(:banned_user => {:user_id => @user.id}), :method => 'POST') %></p>
  <% end %>
<% end %>

<h1><%= @user.name %> : <%= @user.karma %> Karma</h1>

<h3>Submitted articles:</h3>
<table width='100%'>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, article.url) %> - <em><%= time_ago_in_words(article.created_at) %> ago</em></td>
    <td><%= pluralize(article.votes.length,'vote') %></td>
    <td><%= link_to("Edit", edit_article_path(article)) if @user == current_user && !article.too_late_to_edit? %></td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>
