<h1>Articles submitted by <%= @user.name %></h1>
<table width='100%'>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, article.url) %></td>
    <td><%= pluralize(article.votes.length,'vote') %></td>
    <td><%= link_to("Edit", edit_article_path(article)) if @user == current_user && (Time.now - article.created_at < 900) %></td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>