<!DOCTYPE html>
<html>
<head>
  <title>HnClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header'%>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %>
        <a class="close" data-dismiss="alert">&#215;</a>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </div>
</body>
</html>
